<div class="panel w3-card-4">

<ul>

  <h2>blank.component.html (HttpClient API)</h2>
  <h6>
  1 - HttpClient added to app Module<br>
  2 - "data.service" Created to support HttpClient<br>
  3 - Object logic (getPosts) added to blank.component.ts file<br></h6>
  <h6>Pulled from: (db.json)@ https://my-json-server.typicode.com/ivypro/playguide-angular/posts</h6>

    <div *ngFor="let post of posts$">

      <div class="banner w3-card-2" onclick="closeFlip()" tabindex="-1">
        <div class="bannerimg">
      <img src="{{ post.image }}" class="banimg"></div>
      <div class="banlayover w3-hide-medium w3-hide-large"></div>
      <div class="bannerdetail">
      {{ post.heading }}<br>
      <font size="1px">Entertainment:</font> {{ post.entertainment }}<br>
      <font size="1px">Drinks:</font> {{ post.drinks }}</div>
      <div class="bannerprice w3-card-2">{{ post.price }}$</div>
      </div>

    </div>
    <div *ngFor="let post of posts$">
      <br>
    Post ID: {{ post.id }}<br>
    Post Heading: {{ post.heading }}<br>
    Post Entertainment: {{ post.entertainment }}<br>
    Post Capacity: {{ post.capacity }}<br>
    Post Drinks: {{ post.drinks }}<br>
    Post Price: {{ post.price }}<br>
    Post Image: {{ post.image }}<br>
    </div>

<hr><hr>
<h6>Angular REST API tutorial:<br> https://coursetro.com/posts/code/154/Angular-6-Tutorial---Learn-Angular-6-in-this-Crash-Course</h6>
<hr>
</ul>
</div>
