<!--- EVENT DETAILS ITEM --->
<div class="myEvents showfirst" style="height: 100%;" >

<div *ngIf="this.dataSer.photoes.length==0" class="uslide" style="padding-top: 90px; text-align: center;color:white">
       <i class="fa fa-bell-slash hide" style="font-size: 2em; color: rgba(130,130,130,0.3);"></i>
</div>

<div *ngIf="this.dataSer.photoes.length >0" class="uslide"  [ngStyle]="{'background-image': 'url(' + this.dataSer?.currentImgUrl + ')'}">
<a routerLink="/e/{{this.dataSer.selectedEvent?.heading.split(' ').join('-')}}" onclick="soonHidden()"><div class="lowrighticon"></div></a>
</div>
<app-buttons></app-buttons>
  <div class="infodetails" *ngIf="this.dataSer.photoes.length >0">
<p>
  <font class="w3-hide-medium w3-hide-large">
    <div style="width: 101%; color: white; text-align: center; background-color: rgba(0,0,0,0.4);">
    {{this.dataSer.selectedEvent?.location||this.dataSer.events[0]?.location}}</div>
    <div style="width: 101%; color: black; text-align: center; background-color: rgba(250,250,250,0.55);">
  {{this.dataSer.selectedEvent?.heading||this.dataSer.events[0]?.heading}}</div>
  <div style="width: 101%; text-align: center; background-color: rgba(0,0,0,0.3);">
  {{this.dataSer.dateConverter(this.dataSer.selectedEvent?.date)|date:" MMMM dd"}}<sup>{{this.dataSer.dateConverter(this.dataSer.selectedEvent?.date)|date:"dd"|dateSuffix}}</sup>{{' 8pm'}}
</div>
  </font>
<font class="w3-hide-small">
{{this.dataSer.selectedEvent?.heading||this.dataSer.events[0]?.heading}}<br>
Location: {{this.dataSer.selectedEvent?.location||this.dataSer.events[0]?.location}}<br>
Date & Time: {{this.dataSer.dateConverter(this.dataSer.selectedEvent?.date)|date:" MMMM dd"}}<sup>{{this.dataSer.dateConverter(this.dataSer.selectedEvent?.date)|date:"dd"|dateSuffix}}</sup>{{' 8pm'}}
<br>
</font>
<br>
{{this.dataSer.selectedEvent?.details||this.dataSer.events[0]?.details}}
<br><br>Entertainment: {{this.dataSer.selectedEvent?.entertainment||this.dataSer.events[0]?.entertainment}}<br>
Drinks: {{this.dataSer.selectedEvent?.drinks||this.dataSer.events[0]?.drinks}}
</p>
</div>

</div>
<!-- |date:"EEEE MMM dd" -->
<!-- .split(' ').join('-') -->
<!-- "{ 'background-image': 'url(' + this.dataSer.selectedEvent?.images[this.dataSer.currentPhotoIndex] + ')'}" -->
