.myEvents {
  display: none;
}

.showfirst {
  display: block;
}

.uslide {
  position: relative;
  height: 210px;
   background-position: center;
    background-size: cover;
}

.lowrighticon {
  position: absolute;
  background-image: url('/assets/tbox.png');
  background-position: center;
   background-size: cover;
  width: 25px;
  height: 25px;
  right: 4px;
  bottom: 4px;
}

.lowrighticon:hover {
  background-image: url('/assets/tboxS.png');
  cursor: pointer;
}

.lowrightshare {
  position: absolute;
  background-image: url('/assets/facebook.png');
  background-position: center;
   background-size: cover;
  width: 23px;
  height: 23px;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.infodetails {
  height: calc(100% - 256px);
  color: #e6e0c1;
  font-size: 1rem;
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
overflow: scroll;
-webkit-overflow-scrolling: touch;
padding: 15px;
padding-top: 10px;
padding-bottom: 15px;
background-color: rgba(0,0,0,.3);
}

.break-all {
  word-break: break-all;
}
