

<div class="panelheader">
<div class="fadein centerheader w3-hide-medium w3-hide-small">Purchase tickets to this <font class="chromeBold">private event</font> or <font class="chromeBold">fundraiser</font>.</div>
</div>

<div class="panel fadein w3-card-4">
    <div *ngIf="!loader" style="height: 100%;">
      <div class="fadein" *ngIf="post.id && post.id > 0; else dataNotFound">
        <div onclick="$('#sharemodalid').show(); updateShareUrl();" class="a-item-share w3-hide-medium w3-hide-large">Share:<img class="s-image1" src="/assets/facebook.png"><img class="s-image2" src="/assets/twitter.png"></div>

        <!--- Back Events -->
          <a [routerLink]='["../../events/LosAngeles"]'><div class="abackitem w3-card-4"><div class="earrow">&larr; </div> <div class="etag"> Events </div></div></a>
          <!-- End Back Events -->

<div class="catchoverflow">

        <div class="image w3-card-4">
<!---
          <img src="{{post.image}}" style="min-width: 100%; height: 100%; object-fit: cover;">
--->
<div class="myPhotos imagefill showfirst" [ngStyle]="{'background-image': 'url('+post.images[0]+')'}">
</div>

<div class="myPhotos imagefill" [ngStyle]="{'background-image': 'url('+post.images[1]+')'}">
</div>




<div class="image-line"></div>
     </div><!-- image -->

     <div class="nailbar">
       <div class="nailbar-align w3-card-4">

<div onclick="currentDiv2(1)" class="nailimg" [ngStyle]="{'background-image': 'url('+post.images[0]+')'}">
  <div class="naillay thumb"></div>
</div><div class="nailspacer"></div>

<div onclick="currentDiv2(2)" class="nailimg" [ngStyle]="{'background-image': 'url('+post.images[1]+')'}">
  <div class="naillay thumb"></div>
</div><div class="nailspacer"></div>


</div> <!-- align -->
  </div><!-- nailbar -->


  <div class="lowdash">
    <!---<div class="border-line w3-hide-small"></div>--->
    <div class="border-line-v"></div>
<div class="details">
  <div class="detleft w3-hide-small">

<div class="line" style="width: 100%;">
{{post.heading}}
</div>

<div class="line seg tit" style="width: 90px;">
Entertainment
</div>
<div class="line seg" style="width: calc(100% - 90px);">
{{post.entertainment}}
</div>

<div class="line seg tit" style="width: 69px;">
Location
</div>
<div class="line seg" style="width: calc(100% - 69px);">
{{post.location}}
</div>

<div class="line seg tit" style="width: 63px;">
Date
</div>
<div class="line seg" style="width: calc(100% - 63px);">
<font class="w3-hide-medium">8 PM | </font>{{post.date}}
</div>

<div class="line seg tit" style="width: 63px;">
Drinks
</div>
<div class="line seg" style="width: calc(100% - 63px);">
{{post.drinks}}
</div>

<div class="line seg tit fill" style="width: 63px;">
Price
</div>
<div class="line seg fill" style="width: calc(100% - 63px);">
<font style="color: rgba(40,140,245,1)"><b>{{post.price!=0 ? '$'+post.price : "Free" }}</b></font>
</div>



</div>
  <div class="detright">
    <font class="w3-hide-medium w3-hide-large">
      <div style="margin-top: 5px; width: 96%; color: white; text-align: center; background-color: rgba(0,0,0,0.4);">
      Playguide.com - Event</div>
      <div style="overflow: hidden; width: 96%; color: black; text-align: center; background-color: rgba(250,250,250,0.55);">
    {{post.heading}}</div>
    <div style="margin-bottom: 7px; width: 96%; text-align: center; background-color: rgba(0,0,0,0.3);">
    {{post.location}} 8 PM | {{post.date}}
  </div>
    </font>
<font class="w3-hide-large w3-hide-medium" style="font-weight: bold">
   &nbsp; &nbsp;
</font>
    {{post.details}} {{post.details}} {{post.details}}
    <font class="w3-hide-large w3-hide-medium" style=" font-weight: bold"><br><br>
          Price: ${{post.price}}<br>
      Entertainment: {{post.entertainment}}<br>
      Drinks: {{post.drinks}}
    </font>
  </div>
</div><!-- details -->
<div class="rightbuttons">

<div class="marspacer"></div>
<div class="thebtn top w3-card-4" onclick="$('#quickloginid').show();"><div class="padspacer"></div>{{post.price!=0 ? 'Buy' : "Free" }} Tickets</div>
<div class="marspacer"></div>
<div class="thebtn bottom w3-card-4 w3-hide-small" onclick="$('#sharemodalid').show(); updateShareUrl();"><div class="padspacer"></div><font style="margin-left: 6px;">Share</font> <img class="s-image1" src="/assets/facebook.png"><img class="s-image2" src="/assets/twitter.png"></div>

<div class="line-buttons w3-hide-medium w3-hide-large"></div>
</div>
</div><!-- lowdash -->

      </div> <!-- catch --->
    </div> <!-- NG IF found -->
      <ng-template #dataNotFound>

<div style="width: 100%; height: 35%;"></div>

<div style="text-align: center;">
        <img src="assets/PlayguideBrand.png" width="200">
        404&nbsp;EVENT&nbsp;NOT&nbsp;FOUND
        <br>This event may have expired..
</div>

      </ng-template>
    </div>
    <span *ngIf="loader"><!--none --></span>
</div>
