
<img *ngIf="this.dataSer.photoes.length > 0" src (error)="closeFlip()" style="display: none">

<img *ngIf="this.dataSer.photoes.length==0" src (error)="openFlipM()" style="display: none">



<!-- SCRIPT IF-DIVS -->

<div class="contain">

<div class="loader">
<img src="/assets/preload.svg">
</div>

<div class="material fadein" style="display: none;">
<div class="left-panel">
<app-nailhead></app-nailhead>

<!--- FLIP  HOUSE --->
<div *ngIf="flipList" class="fliphouse fadein" style="position: relative; height: 100%; ">
  <!-- Button -->
  <div *ngIf="!this.dataSer.photoes.length==0" class="flipbtn" >
    <a class="tiny button flipbtn-it" (click)="closeFlip()" ><font class="w3-hide-medium w3-hide-large">I N F O</font><font class="w3-hide-small"> CLOSE  </font></a>
  </div>
  <div *ngIf="this.dataSer.photoes.length==0" class="flipbtn w3-hide-small" >
    <a class="tiny button flipbtn-it" (click)="closeFlip()" ><font> CLOSE  </font></a>
  </div>
<!-- City List --->
    <div class="infoflip" style="font-size: 1rem; margin-right: -5px; ">
    <app-citylist></app-citylist>
    </div>
</div><!--- END FLIP HOUSE --->

<div class="info fadein" id="infoid" >
    <app-scanner></app-scanner>
</div>
<!--- right panel --->
</div>
<div class="right-panel w3-hide-small">

  <img class="chev" src="/assets/downChev.png" width="35">

  <div class="high-box">
    <div class="x-pod" onclick="$('.chev').css('opacity', '0');$('.high-box').css('opacity', '0');setTimeout(function(){ $('.low-box').css('height', 'calc(100% - 2px)'); }, 200);"><i class="fa fa-times xy-center"></i></div>
    <div class="x-slab">
    Earn up to <font style="color: #c8e1c8;">$100,000</font> hosting <font style="color: #e3e3a5;">social events</font>.
  </div>
  <div class="x-button">
    <a class="small alert button staffbtn" style=""  [routerLink]='["/hosting"]' onclick="hostFunction()" >Hosting</a>
</div>

  </div>

  <div class="low-box">
    <div class="low-box-liner">
    <app-citylist></app-citylist>
  </div>
  </div>


</div>
</div>


</div>
