.fadein {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*    MAIN PANAL WITH CENTER CONTENT        */
.panel {
position: relative;
-webkit-transform: translate3d(0, 0, 0);
-webkit-transition: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
margin-top: 25px;
margin-left: 10%;
margin-right: 10%;
height: 76vh;
background-color: rgba(0,0,0,.3);
}

/* 255 255 255 .1 WHITE VERSION
0 0 0 .3 BLACK VERSION */

.catchoverflow {
  position: absolute;
  overflow: hidden;
width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.0);
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
.aitem0 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
  position: absolute;
  font-size: .85em;
  color: lightgrey;
top: 9.5px;
left: 20px;
// left: 62px;
cursor: default;
}

.aitemX {
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
  position: absolute;
  color: #fff;
  font-size: 1.3em;
top: -35px;
left: 16px;
text-align: center;
padding-left: 0.5px;
padding-top: 0px;
height: 25px;
width: 28px;
border: solid 1px grey;
background-color: rgba(0,0,0,.35);
cursor: pointer;
}

.aitemX:hover {
  color: black;
  border: solid 1px black;
  background-color: rgba(200,200,200,.35);
}

.x-fit {
  position: relative;
  top: -4.75px;
  left: 0.42px;
}

//Safari ONLY
_:default:not(:root:root), .x-fit {
top: -5px;
left: 0.2px;
}

/*    ADVERTISEMENT FOR HOSTING 50K+     */
.aitem1 {
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
  position: absolute;
  color: #fff;
top: -35px;
left: 50px;
text-align: center;
padding: 1px;
height: 25px;
width: 450px;
border-radius: 4px;
background-color: rgba(0,0,0,.35);
cursor: default;
}

.aitem2 {
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
  position: absolute;
  color: #fff;
top: -35px;
left: 505px;
// right: 10px;
text-align: center;
padding: 1px;
height: 25px;
width: 100px;
border-radius: 4px;
background-color: rgba(0,0,0,.35);
}

.aitem2:hover {
  background-color: rgba(100,100,100,.35);
  cursor: pointer;
}

.aitem3 {
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(0,0,0,0.4);
  position: absolute;
  color: #fff;
top: -35px;
// left: 505px; for one item only
left: 610px;
// right: 10px;
text-align: center;
padding: 1px;
height: 25px;
width: 125px;
border-radius: 4px;
background-color: rgba(0,0,0,.35);
}

.aitem3:hover {
  background-color: rgba(100,100,100,.35);
  cursor: pointer;
}

/*    MAIN PANAL TOP FOR OPTIONS        */
.deck {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-left: 5px;
  height: 40px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(255,255,255,.0);
}

/*    MAIN PANAL DECK nearby FORMATTING        */
.aformitem {
  position: absolute;
  color: #fff;
    font-size: 12px;
    line-height: 1.89;
top: 7px;
left: 201px;
margin: 0px;
padding-left: 7px;
padding-right: 7px;
padding-top: 1px;
padding-bottom: 2px;
background-color: rgba(0,0,0,0.3);
}

/*    HOSTING BUTTON BIG SCREEN        */
.aformitem2 {
  position: absolute;
  color: #fff;
  height: 30px;
top: 5px;
right: 12px;
}

/*    ENTERTAINING BUTTON BIG SCREEN        */
.aformitem3 {
  position: absolute;
  color: #fff;
  height: 30px;
top: 4.5px;
right: 82px;
}

/*    SECURITY BUTTON BIG SCREEN        */
.aformitem4 {
  position: absolute;
  color: #fff;
  height: 30px;
top: 4.5px;
right: 178px;
}



.staffbtn {
padding: .85em 1em;
margin-bottom: 0px;
border: 0px solid transparent;
border-radius: 0;
}

.scannerpanel {
  position: absolute;
    display: inline-block;
  margin-top: 0px;
  padding: 5px;
overflow: hidden;
  height: 90%;
  max-width: 305px;
  left: 10px;
  right: 10px;
  background: linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,.1));
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@media (max-width: 600px){
  .scannerpanel {
    left: 7px;
    right: 7px;
 background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3));
}}


.info {
  height: 90%;
  margin-top: 5px;
overflow: hidden;
    -webkit-font-smoothing: antialiased;
background-color: rgba(0,0,0,.8);
-webkit-transform: translate3d(0, 0, 0);
-webkit-transition: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}

.infoflip {
  height: 90%;
  margin-top: 5px;
overflow: scroll;

background-color: rgba(0,0,0,.0);
-webkit-transform: translate3d(0, 0, 0);
-webkit-transition: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;

}



.viewer {
  position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
      -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: translateZ(0);
    -webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
  padding-top: 5px;
  padding-left: 5px;
  height: 90%;
  right: 10px;
  left: 320px;
        cursor: default;
  background-color: rgba(255,255,255,.1);
}

.enter-delay {
  visibility: hidden;
  transition: visibility 10s linear 10s;
}
