<div class="contain">

<div class="loader">
<img src="/assets/preload.svg">
</div>

<div class="material fadein" style="display: none;">
<div class="left-panel">
<app-nailhead></app-nailhead>

<!--- FLIP  HOUSE --->
<div *ngIf="flipList" class="fliphouse fadein" style="position: relative; height: 100%; ">
  <!-- Button -->
  <div class="flipbtn" style="position: absolute; width: 52.5px; height: 27px; top: -39px; right: 4.5px; background-color: rgba(0,0,0,.8);">
    <a class="tiny button" (click)="closeFlip()" style="vertical-align: top; margin-left: 0px; margin-top: 0px; color: white;"><font class="w3-hide-medium w3-hide-large">I N F O</font><font class="w3-hide-small"> CLOSE  </font></a>
  </div>
<!-- City List --->
    <div class="infoflip" style="font-size: 1rem; margin-right: -5px; ">
    <app-citylist></app-citylist>
    </div>
</div><!--- END FLIP HOUSE --->

<div class="info fadein" id="infoid" >
    <app-scanner></app-scanner>
</div>
<!--- right panel --->
</div>
<div class="right-panel w3-hide-small">

  <img class="chev" src="/assets/downChev.png" width="35">

  <div class="high-box">
    <div class="x-pod" onclick="$('.chev').css('opacity', '0');$('.high-box').css('opacity', '0');setTimeout(function(){ $('.low-box').css('height', 'calc(100% - 2px)'); }, 200);"><i class="fa fa-times xy-center"></i></div>
    <div class="x-slab">
    Make up to <font style="color: #c8e1c8;">$75,000</font> hosting <font style="color: #e3e3a5;">social events</font>.
  </div>
  <div class="x-button">
    <a class="small alert button staffbtn" style=""  [routerLink]='["/hlogin"]' onclick="hostFunction()" >Hosting</a>
</div>

  </div>

  <div class="low-box">
    <div class="low-box-liner">
    <app-citylist></app-citylist>
  </div>
  </div>

<a onclick="$('#panelid').toggleClass('block');$('.material').toggleClass('none');" a href="javascript:;"></a>

</div>
</div>


</div><!--- end container --->
<img src onerror="
$('.loader').css('opacity', '1');
setTimeout(function(){
$('.loader').css('opacity', '0');
}, 1250);
setTimeout(function(){
$('.material').css('display', 'block');
}, 1850);
">
<!--- Prototype --->

<div class="panel w3-card-4 fadein" id="panelid" style="display: none">

        <!--- ABSOLUTE ITEM --->
        <div class="aitem0 w3-hide-small">
      Find a party in your city and buy tickets.
        </div>
        <div class="aitemX w3-hide-small enter-delay" onclick="$('.enter-delay').css('display', 'none');$('.panel').css({'margin-left': '6%', 'margin-right': '6%', 'margin-top': '5px', 'height': 'calc(76vh + 40px)'});">
      <div class="x-fit"><b>x</b></div>
        </div>
          <div class="aitem1 w3-hide-small enter-delay">
        Make up to <font style="color: #c8e1c8;">$75,000</font> hosting entertainment-ready <font style="color: #e3e3a5;">social events</font>.
          </div>
          <div title="Coming Soon" class="aitem2 w3-hide-small w3-hide-medium enter-delay" onclick="alert('Coming Soon: Entertainers on playguide.')">
        Event DJs
          </div>
          <div title="Coming Soon" class="aitem3 w3-hide-small w3-hide-medium enter-delay" onclick="alert('Coming Soon: Mansions - Clubs - Ballrooms - Yachts :: For Rent')">
        Venue Rental
          </div>
        <!--- END ABSOLUTE ITEM --->
        <div class="catchoverflow">
        <div class="deck">
          <!--- BEGIN DECK --->

            <div class="btn-group btn-group-sm w3-hide-small" style="display: none" role="group" aria-label="...">
              <button type="button" class="btn btn-secondary">The Weekend</button>
              <button type="button" class="btn btn-secondary">Mid Week</button>
            </div>

            <div class="aformitem2 w3-card-2 " style="">
            <a class="small alert button staffbtn" style=""  [routerLink]='["/hlogin"]' onclick="hostFunction()" >Hosting</a>
            </div>
            <div class="aformitem3 w3-card-2">
            <a class="small button staffbtn" style="display: none" routerLink="elogin" onclick="staffFunction()" href="#0">Entertaining</a>
            </div>
            <div class="aformitem4 w3-card-2">
            <a class="small secondary button staffbtn" style="display: none" routerLink="slogin" onclick="securityFunction()" href="#0">Security</a>
            </div>



              <!--- SHOW NEARBY 25 MILES CONCEPT --->
        <div class="aformitem w3-card-4" style="display: none"> <!--- HIDDEN --->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Nearby
              </label>
            </div>
        </div>

        <!--- END DECK --->
        </div>

        <div class="scannerpanel">
<!--- SCANNER PANEL --->
<app-nailhead></app-nailhead>

<!--- FLIP FLIP FLIP FLIP FLIP FLIP HOUSE --->
<div *ngIf="flipList" class="fliphouse fadein" style="position: relative; height: 100%; ">
  <!--Buttons Div and Button -->
  <div class="flipbtn" style="position: absolute; width: 52.5px; height: 27px; top: -39px; right: 4.5px; background-color: rgba(0,0,0,.8);">
    <a class="tiny button" (click)="closeFlip()" style="margin-left: 0px; margin-top: 0px; color: white;"><font class="w3-hide-medium w3-hide-large">I N F O</font><font class="w3-hide-small"> CLOSE  </font></a>
  </div>
  <!-- End Div + Buttons --->
<!-- City List --->
    <div class="infoflip" style=" margin-right: -5px; ">
    <app-citylist></app-citylist>
    </div>
    <!--- END CITY LIST --->
</div><!--- END FLIP FLIP FLIP FLIP FLIP FLIP FLIP --->


<!--- FRONT INFO --->
    <div class="info fadein" id="infoid" style="overflow:scroll">
        <app-scanner></app-scanner>
    </div>
<!-- End FRONT INFO --->



</div><!--- END SCANNER PANEL --->

<div class="viewer w3-hide-small" style="overflow:scroll">
<!--- BIG SCREEN VIEWER --->

<app-citylist></app-citylist>

<!--- END VIEWER --->
</div>




</div> <!-- OVERFLOW CATCHER -->
</div> <!-- PANEL -->
