/*    MAIN PANAL WITH CENTER CONTENT        */
.panel {
position: relative;
top: 50px;
margin-left: 10%;
margin-right: 10%;
height: 76vh;
background-color: rgba(0,0,0,.5);
}

  .catchoverflow {
    position: absolute;
    overflow: hidden;
  width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.0);
}

.signin {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  max-width: 280px;
  min-width: 255px;
  height: 100%;
  float: right;
  background-color: rgba(255,255,255,.0);
}

@media (max-width:1199px){
  .signin {
    max-width: 300px;
    float: none;
margin: 0 auto;
  }}

  .left-box {
    display: none;
  }

  @media (min-width:1200px){
    .left-box {
      display: block;
      position: absolute;
      border: solid 1px white;
      height: calc(100% - 17px);
      width: calc(100% - 265px);
      left: 5px;
      top: 5px;
    }}

    .top-pill {
      padding-top: 6.5px;
      -webkit-font-smoothing: antialiased;
      font-family: "raleway";
      font-size: 1rem;
      font-weight: bold;
      color: white;
      position: relative;
      top: 10px;
      text-align: center;
      background-color: rgba(50,50,50,.4);
      width: 95%;
      height: 20%;
      margin: 0 auto;
    }


.ltabs {
  height: calc(100% - 50px);
}

.notebox {
  position: relative;
  background-color: rgba(255,255,255,.2);
  padding: 8px 10px;
  height: 39px;
  margin-bottom: 10px;
  font-size: 13px;
}

.quickreset {
  position: absolute;
  color: white;
  top: 57px;
  left: 10px;
  cursor: pointer;
  font-size: 10px;
}

.box {
  color: #fff;
  background-color: rgba(0,0,0,0);
}

.box::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.box:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.box::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}
