/*    MAIN PANAL WITH CENTER CONTENT        */
.panel {
position: relative;
top: 50px;
margin-left: 10%;
margin-right: 10%;
height: 76vh;
background-color: rgba(0,0,0,.5);
}

  .catchoverflow {
    position: absolute;
    overflow: hidden;
  width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.0);
}

.signin {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  max-width: 280px;
  min-width: 255px;
  height: 100%;
  float: right;
  position: relative;
  left: 5px;
  background-color: rgba(255,255,255,.0);
}

@media (max-width:1199px){
  .signin {
    max-width: 300px;
    float: none;
    left: 0px;
margin: 0 auto;
  }}

  .left-box {
    display: none;
  }

  @media (min-width:1200px){
    .left-box {
      display: block;
      position: absolute;
      border: solid 1px white;
      height: calc(100% - 17px);
      width: calc(100% - 265px);
      left: 10px;
      top: 5px;
    }}

    .top-pill {
      padding-top: 6.5px;
      -webkit-font-smoothing: antialiased;
      font-family: "raleway";
      font-size: 1rem;
      font-weight: bold;
      color: white;
      position: relative;
      top: 10px;
      text-align: center;
      background-color: rgba(50,50,50,.5);
      width: 95%;
      height: 107px;
      margin: 0 auto;
    }

    .mid-pill {
      padding-top: 0px;
      -webkit-font-smoothing: antialiased;
      font-family: "raleway";
      font-size: 1.2rem;
      font-weight: bold;
      color: rgb(180,180,180);
      position: relative;
      top: 25px;
      text-align: center;

      width: 95%;
      height: 50%;
      min-height: 250px;
      margin: 0 auto;
    }

    .top-pocket {
      padding-top: 9px;
      height: 50px;
        background-color: rgba(50,50,50,.25);
      width: 100%;
    }

    .mid-pocket {
      margin-top: 10px;
      padding-top: 9px;
      height: 50px;
        background-color: rgba(50,50,50,.25);
      width: 100%;
    }

    .low-pill {
      -webkit-font-smoothing: antialiased;
      font-family: "raleway";
      font-size: 1rem;
      // font-weight: bold;
      color: #e6e0c1;
      position: relative;
      top: 0px;
      text-align: center;
      background-color: rgba(0,0,0,.5);
      width: 95%;
      height: 18%;
      margin: 0 auto;
    }

    .tight-container {
      position: absolute;
      top: 48%;
      left: 50%;
      width: 550px;
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

    @media (max-width:1300px){
      .tight-container {
        width: 490px;

      }}


.ltabs {
  height: calc(100% - 50px);
}

.notebox {
  position: relative;
  background-color: rgba(255,255,255,.2);
  padding: 8px 10px;
  height: 39px;
  margin-bottom: 10px;
  font-size: 13px;
}

.quickreset {
  position: absolute;
  color: white;
  top: 57px;
  left: 10px;
  cursor: pointer;
  font-size: 10px;
}

.box {
  color: #fff;
  background-color: rgba(0,0,0,0);
}

.box::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.box:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

.box::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

.rent-tip:hover .the-rent-tip {
display: block;
}

.the-rent-tip {
  display: none;
  position: absolute;
  top: -158px;
  right: -270px;
  width: 295px;
  height: 550px;
  background-image: url('/assets/rent-tip.jpeg');
  background-position: center;
  background-size: cover;
  z-index: 5000;
}
