<!-- Offline Notice -->
<div id="offline" class="w3-hide-small w3-hide-medium w3-hide-large">
Playguide.com : Your internet is offline</div>

<!-- Guestlist Panel -->
<app-guestlistio></app-guestlistio>

<!-- Main Page -->
<div id="page">
<app-topbar></app-topbar>

<app-modal></app-modal>

      <div class="w3-grayscale-min" id="wrapper" onclick="anywhereCloseMenu();">
        <div id="bg-blur"></div>
            <app-sidebar></app-sidebar>
            <app-dash></app-dash>


      </div>

</div>
