<!-- Sidebar  -->

<nav id="sidebar">
  <div id="sidelayer1">


  <div class="sidebar-header">
      <h3></h3>
  </div>
  <form name="sideformname">
<div class="form-group">
 <label (click)="atGuestlist()" style=" float: left;
  margin-left: 10px;">Find Events</label>

  <input id="sideinput" name="sideinputname" class="form-control box" placeholder="Your City..." />


  <small id="emailHelp" class="form-text text-muted">Cities will show automatically.</small>
</div></form>

<div class="citylist">
  <!--- DYNAMIC CITY LIST --->

      <div class="spacer"></div>
    <a [routerLink]='["events/LosAngeles"]' routerLinkActive="sg-activatedLink" onclick="loginFunction();enter();">
      <div (click)="closeOnSmall()" class="cityitem w3-card-2">Los Angeles</div>
    </a>
    <div class="spacer"></div>
    <a [routerLink]='["events/SanFrancisco"]' routerLinkActive="sg-activatedLink" onclick="loginFunction();enter();">
      <div (click)="closeOnSmall()" class="cityitem w3-card-2">San Francisco</div>
    </a>

    <div class="spacer"></div>
    <a [routerLink]='["events/SiliconValley"]' routerLinkActive="sg-activatedLink" onclick="loginFunction();enter();">
      <div (click)="closeOnSmall()" class="cityitem w3-card-2">Silicon Valley</div>
    </a>

<div class="spacer"></div>


      <div class="cityitemsoon enter-act2" style="display: none;"><font style="color: rgba(255,255,255,0.6);">
        Coming Cities:<br>
        New York<br>
        San Diego<br>
        Miami<br>
        Las Vegas<br>
        New Orleans<br>
  Chicago<br>
  Nashville<br>
  Denver<br>
  Portland<br>
  Boston<br>
  Seattle<br>
  Atlanta</font></div>

<!---
  <a (click)="testTs()">
    <div class="cityitem">TS-Router :: HLogin</div>
  </a>
--->

    <!--- END CITY LIST --->
</div>

</div>
</nav>
