<div class="head w3-card-2">
  <div class="flexhead">



    <div  class="leftnail" (click)="this.dataSer.nailArrow(-1)" onclick="scrollNailL()" >
      <div class="uptri"></div>
    </div>

<!--- If photos --->
      <div id="nailscroller" class="nailflex"  *ngIf="!this.dataSer.photoes.length==0">
       <!-- to loop through photoes -->
        <div class="nail"  tabindex="-1" *ngFor="let img of this.dataSer.photoes; let i = index" (click)="currentNailDiv(i);">
          <img class="nailimg" src={{img}}>
          <div class="imglay nailanchor" [ngClass]=" {'w3-light-nail': i==this.dataSer.events.indexOf(this.dataSer.selectedEvent)}"></div>
        </div>

        <div class="nailspacer"></div>
      </div>
<!--- if photos end --->
<!--- if NO photos --->
      <div *ngIf="this.dataSer.photoes.length==0" class="nailflex">
          <div class="no-e-nail"></div>
        </div>
<!--- if NO photos --->

      <div class="rightnail" onclick="scrollNailR()" (click)="this.dataSer.nailArrow(1)">
        <div class="downtri"></div>
      </div>
      <div *ngIf="this.dataSer.photoes.length > 0" class="rightlist w3-hide-medium w3-hide-large">
        <a class="tiny button rightlist-it" (click)="openFlip()" style="" >L I S T</a>
      </div>



  </div><!-- End Flexhead -->
</div><!-- End Head -->
