#dashio {
  position: fixed;
  text-align: center;
  border: solid 2px white;
  bottom: 0px;
  right: 0px;
  height: 50vh;
  width: 50vw;
  background-color: black;
  color: white;
  z-index: 10000;
}
