

<div class="" (click)="atGuestlist()" id="buttonio">M.Guestlist</div>
<div (click)="atGuestlist2()" id="buttonio2">M.Guestlist</div>


<div id="dashio" *ngIf="ifGuestlist">
<i class="fa fa-times ex" (click)="xGuestlist()"></i>
<br>
Welcome to [Guestlist] ?? <br><br>
message or review people who attended the same event as you<br><br>
credit card name and photo??
$10 per month

</div>

<!-- BAD FOR BUSINESS -->

<!---
Playguide.com : This is the guestlist project <br>
<br><br><br>
post weekend parties for your friends on [Guestlist] - Free
<br><br><br>
- Add Friends(Followbackornotlist: Both Events, Your Events)<br>
- Remove Friends<br>
- Post Address(Highest Voted)<br><br>

<br>
Required: Email & Photo

-->
