<div id="heavymodal">

<!-- REVIEW for -PROFILE- MODAL -->

<!-- SHARE MODAL -->
<div onclick="$('#heavymodal').css({'opacity': '0'});setTimeout(function(){$('#heavymodal').css({'display': 'none'});}, 500);" class="share-modal">

<img src="/assets/email.png" width="47" class="point" style="margin-right: 11px;">
<img src="/assets/facebook.png" width="43" class="point" style="margin-right: 5px;">
<img src="/assets/twitter.png" width="65" class="point">
<img src="/assets/linkedin.png" width="45" class="point">
<img src="/assets/instagram.png" width="47" class="point" style="margin-left: 11px;">

<i class="fa fa-times x-position" aria-hidden="true"></i>


</div>


</div>
