<div id="heavymodal">

<!-- REVIEW for -PROFILE- MODAL -->

<!-- SHARE MODAL -->
<div onclick="$('#heavymodal').css({'opacity': '0'});setTimeout(function(){$('#heavymodal').css({'display': 'none'});}, 500);" class="share-modal">

<font onclick="$('#heavymodal').css({'opacity': '0'});setTimeout(function(){$('#heavymodal').css({'display': 'none'});$('#sharemodalid').show(); updateShareUrl();}, 500);">
<img src="/assets/email.png" width="47" class="point" style="margin-right: 11px;">
<img src="/assets/facebook.png" width="43" class="point" style="margin-right: 5px;">
<img src="/assets/twitter.png" width="65" class="point">
<img src="/assets/linkedin.png" width="45" class="point">
<img src="/assets/instagram.png" width="47" class="point" style="margin-left: 11px;">
</font>
<i class="fa fa-times x-position" aria-hidden="true"></i>


</div>


</div>

<div id="heavymodal2">

<!-- SHARE MODAL -->
<div onclick="$('#heavymodal2').css({'opacity': '0'});setTimeout(function(){$('#heavymodal2').css({'display': 'none'});}, 500);" class="limo-modal">

<div class="bigger">
<h4 class="closer">Coming Soon..</h4>

<h1>Playguide Tours & Limos</h1><br>
<br>
<div style="display: inline-block; text-align: left;">
  <i class="fas fa-car"></i> &nbsp;&nbsp;&nbsp; To and from your event, or just cruise aroud the city.<br>
  <br>
<i class="fas fa-glass-martini"></i> &nbsp;&nbsp;&nbsp; Enjoy recreational activies, cocktails, cuisine from the comfort of your limo cabin.<br>
<br>
<i class="fas fa-paint-brush"></i> &nbsp;&nbsp;&nbsp; <font style="color: rgb(200,0,0)"><b>Playguide tours</b></font> are custom designed by locals to show you the best of play in the city.
</div>
</div>

</div>


</div>
